/* * {
    outline: 1px solid red !important;
    } */


/* Footer */
.pagewrap {
    min-height: 100%;
    margin-bottom: -30px; 
    }
.pagewrap:after {
    content: "";
    display: block;
    height: 30px;
}

footer {
    width: 100%;
    height: 30px;
    font-size: 12px;    
    background-color: lightgray;
    color: darkslateblue;
}

footer .credit a{
    color: slategray;
} 

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #222222;
    background: url(../images/pinstriped_suit.png);
}

.bgTransparent {
    background:rgba(194, 194, 163, 0.8);
    padding: 1em;
}

h1 {
    font-family: 'Abril Fatface', Cursive, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jumbotron {
    background: url(../images/pinstriped_suit_@2X.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0;
    color: white;
}

.card-header {
    background-color: #222222;
    color: white;
}

.form-control {
    border: black 1px solid;
}